$primary: #9E8654;
$secondary: #E9E774;
$font-family-sans-serif: "Roboto", sans-serif !default;
$font-family-serif: "Grandstander", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";